.profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #4d7aa2;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #fff;
    transition: background-color 0.3s;
}


.dropdown-content h4 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.dropdown-content p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.dropdown-content a {
    padding: 3px 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content a:hover {
    color: #cce0f2;
    background-color: #445083;
    border-radius: 3px;
}

.user-info {
    position: relative;
    margin-bottom: 16px;
}

.user-info h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
}

.user-info:hover p {
    display: block;
}

.show {
    display: block;
}
